<li class="top-links-item"><a href="#">Locations<i class="icon-angle-down"></i></a>
    <ul class="top-links-sub-menu">
        <li class="top-links-item"><a {{on "click" (fn this.switch 'en-us')}}>EN</a></li>
        <li class="top-links-item"><a {{on "click" (fn this.switch 'uk-ua')}}>UA</a></li>
    </ul>
</li>