{{!-- Logo
============================================= --}}
<div id="logo" class="ml-auto ml-lg-0 mr-lg-auto">
    <a href="index.html" class="standard-logo"><img src="/ams/assets/images/logo.png" alt="Canvas Logo"></a>
    <a href="index.html" class="retina-logo"><img src="/ams/assets/images/logo@2x.png" alt="Canvas Logo"></a>
</div>{{!-- #logo end --}}