{{!-- Logo
============================================= --}}
<div id="logo" class="ml-auto ml-lg-0 mr-lg-auto">
    <LinkTo class="standard-logo" @route="index"><img src="/ams/assets/images/logo.png" alt={{t "logo"}}></LinkTo>
    <LinkTo class="retina-logo" @route="index"><img src="/ams/assets/images/logo@2x.png" alt={{t "logo"}}></LinkTo>
</div>{{!-- #logo end --}}