{{!-- Primary Navigation
============================================= --}}
<nav class="primary-menu with-arrows">

    <ul class="menu-container">
        <li class="menu-item current"><a class="menu-link" href="demo-construction.html"><div>Home</div></a></li>
        <li class="menu-item">
            <a class="menu-link" href="demo-construction-services.html">
                <div>What we do
                    <i class="icon-angle-down"></i>
                </div>
            </a>
            <ul class="sub-menu-container">
                <li class="menu-item">
                    <a class="menu-link" href="#">
                        <div>Housing Management</div
                    ></a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="#">
                        <div>Construction Planning</div>
                    </a>
                </li>
                <li class="menu-item"><a class="menu-link" href="#"><div>Green Homes</div></a></li>
                <li class="menu-item"><a class="menu-link" href="#"><div>Architecture Design</div></a></li>
                <li class="menu-item"><a class="menu-link" href="#"><div>Interior Planning</div></a></li>
            </ul>
        </li>
        <li class="menu-item"><a class="menu-link" href="demo-construction-about-us.html"><div>About Us</div></a></li>
        <li class="menu-item"><a class="menu-link" href="demo-construction-projects.html"><div>Projects<i class="icon-angle-down"></i></div></a>
            <ul class="sub-menu-container">
                <li class="menu-item"><a class="menu-link" href="demo-construction-projects-2.html"><div>2 Columns</div></a></li>
                <li class="menu-item"><a class="menu-link" href="demo-construction-projects-3.html"><div>3 Columns</div></a></li>
                <li class="menu-item"><a class="menu-link" href="demo-construction-projects.html"><div>4 Columns</div></a></li>
                <li class="menu-item"><a class="menu-link" href="demo-construction-projects-5.html"><div>5 Columns</div></a></li>
            </ul>
        </li>
        <li class="menu-item"><a class="menu-link" href="demo-construction-investors.html"><div>Investors</div></a></li>
        <li class="menu-item"><a class="menu-link" href="demo-construction-blog.html"><div>News</div></a></li>
        <li class="menu-item"><a class="menu-link" href="demo-construction-careers.html"><div>Careers</div></a></li>
        <li class="menu-item"><a class="menu-link" href="demo-construction-contact.html"><div>Contact</div></a></li>
    </ul>

</nav>{{!-- #primary-menu end --}}