<li>
    <a href="{{@url}}" class="si-{{@slag}}">
        <span class="ts-icon">
            <i class="icon-{{@slag}}"></i>
        </span>
        <span class="ts-text">{{@name}}</span>
    </a>
</li>