/* Ember supports plain CSS out of the box. More info: https://cli.emberjs.com/release/advanced-use/stylesheets/ */

@import "ember-bootstrap/bootstrap";
@import "style";
@import "construction";
@import "dark";
@import "font-icons";
@import "fonts";
@import "custom";

.swiper-container {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;
}

.swiper-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    transition-property: transform;
    box-sizing: content-box;
}
.carousel-item {
    position: absolute;
    height: 100%;
}