<div
class="slider-caption"
{{did-insert this.setup}}
...attributes
style="transform: translate3d(0px, {{@transformY}}px, 0px); opacity: {{this.opacity}};" 
>
    <div>
        {{yield}}
    </div>
</div>