<video id="slide-video" poster="assets/images/videos/1.jpg" preload="auto" loop autoplay muted>
    <source src='assets/images/videos/1.webm' type='video/webm' />
    <source src='assets/images/videos/1.mp4' type='video/mp4' />
</video>
<div class="video-overlay" style="background-color: rgba(0,0,0,0.1);"></div>
