{{head-layout}}

{{!-- Document Wrapper
============================================= --}}
<div id="wrapper" class="clearfix">

	<TopBar/>

	<Header/>

	{{outlet}}

	<Footer/>

</div>{{!-- #wrapper end --}}

{{go-to-top}}