<BreadcrumbsItem as |linkClass|>
	<LinkTo @route="portfolio" class={{linkClass}}>
		Portfolio
	</LinkTo>
</BreadcrumbsItem>

<PageTitle/>

<section id="content">
			<div class="content-wrap">
				<div class="container clearfix">

					<h2 class="center ls1 bottommargin">{{@model.name}}</h2>

					<div id="portfolio" class="portfolio row grid-container gutter-20 has-init-isotope" data-layout="fitRows" style="position: relative; height: 1009.45px;">

						<article class="portfolio-item col-12 col-sm-6 col-md-4 pf-media pf-icons" style="position: absolute; left: 0%; top: 0px;">
							<div class="grid-inner">
								<div class="portfolio-image">
									<img src="/ams/assets/images/projects/1.jpg" alt="The Atmosphere">
									<div class="bg-overlay">
										<div class="bg-overlay-content dark animated fadeOut" data-hover-animate="fadeIn" style="animation-duration: 600ms;">
											<a href="#" class="overlay-trigger-icon bg-light text-dark animated zoomOut" data-hover-animate="zoomIn" data-hover-animate-out="zoomOut" data-hover-speed="350" style="animation-duration: 350ms;"><i class="icon-line-ellipsis"></i></a>
										</div>
										<div class="bg-overlay-bg dark animated fadeOut" data-hover-animate="fadeIn" style="animation-duration: 600ms;"></div>
									</div>
								</div>
								<div class="portfolio-desc">
									<h3><a href="#">The Atmosphere</a></h3>
									<span>Chicago, USA</span>
								</div>
							</div>
						</article>

						<article class="portfolio-item col-12 col-sm-6 col-md-4 pf-illustrations" style="position: absolute; left: 33.3322%; top: 0px;">
							<div class="grid-inner">
								<div class="portfolio-image">
									<img src="/ams/assets/images/projects/2.jpg" alt="Wavelength Structure">
									<div class="bg-overlay">
										<div class="bg-overlay-content dark animated fadeOut" data-hover-animate="fadeIn" style="animation-duration: 600ms;">
											<a href="#" class="overlay-trigger-icon bg-light text-dark animated zoomOut" data-hover-animate="zoomIn" data-hover-animate-out="zoomOut" data-hover-speed="350" style="animation-duration: 350ms;"><i class="icon-line-ellipsis"></i></a>
										</div>
										<div class="bg-overlay-bg dark animated fadeOut" data-hover-animate="fadeIn" style="animation-duration: 600ms;"></div>
									</div>
								</div>
								<div class="portfolio-desc">
									<h3>Wavelength Structure</h3>
									<span>Madrid, Spain</span>
								</div>
							</div>
						</article>

						<article class="portfolio-item col-12 col-sm-6 col-md-4 pf-graphics pf-uielements" style="position: absolute; left: 66.6644%; top: 0px;">
							<div class="grid-inner">
								<div class="portfolio-image">
									<img src="/ams/assets/images/projects/3.jpg" alt="Greenhouse Garden">
									<div class="bg-overlay">
										<div class="bg-overlay-content dark animated fadeOut" data-hover-animate="fadeIn" style="animation-duration: 600ms;">
											<a href="#" class="overlay-trigger-icon bg-light text-dark animated zoomOut" data-hover-animate="zoomIn" data-hover-animate-out="zoomOut" data-hover-speed="350" style="animation-duration: 350ms;"><i class="icon-line-ellipsis"></i></a>
										</div>
										<div class="bg-overlay-bg dark animated fadeOut" data-hover-animate="fadeIn" style="animation-duration: 600ms;"></div>
									</div>
								</div>
								<div class="portfolio-desc">
									<h3>Greenhouse Garden</h3>
									<span>Bali, Indonesia</span>
								</div>
							</div>
						</article>

						<article class="portfolio-item col-12 col-sm-6 col-md-4 pf-icons pf-illustrations" style="position: absolute; left: 0%; top: 336.484px;">
							<div class="grid-inner">
								<div class="portfolio-image">
									<img src="/ams/assets/images/projects/4.jpg" alt="Industrial Hub">
									<div class="bg-overlay">
										<div class="bg-overlay-content dark not-animated" data-hover-animate="fadeIn" style="animation-duration: 600ms;">
											<a href="#" class="overlay-trigger-icon bg-light text-dark not-animated" data-hover-animate="zoomIn" data-hover-animate-out="zoomOut" data-hover-speed="350" style="animation-duration: 350ms;"><i class="icon-line-ellipsis"></i></a>
										</div>
										<div class="bg-overlay-bg dark not-animated" data-hover-animate="fadeIn" style="animation-duration: 600ms;"></div>
									</div>
								</div>
								<div class="portfolio-desc">
									<h3>Industrial Hub</h3>
									<span>Beijing, China</span>
								</div>
							</div>
						</article>

						<article class="portfolio-item col-12 col-sm-6 col-md-4 pf-uielements pf-media" style="position: absolute; left: 33.3322%; top: 336.484px;">
							<div class="grid-inner">
								<div class="portfolio-image">
									<img src="/ams/assets/images/projects/5.jpg" alt="Corporate Headquarters">
									<div class="bg-overlay">
										<div class="bg-overlay-content dark animated fadeOut" data-hover-animate="fadeIn" style="animation-duration: 600ms;">
											<a href="#" class="overlay-trigger-icon bg-light text-dark animated zoomOut" data-hover-animate="zoomIn" data-hover-animate-out="zoomOut" data-hover-speed="350" style="animation-duration: 350ms;"><i class="icon-line-ellipsis"></i></a>
										</div>
										<div class="bg-overlay-bg dark animated fadeOut" data-hover-animate="fadeIn" style="animation-duration: 600ms;"></div>
									</div>
								</div>
								<div class="portfolio-desc">
									<h3>Corporate Headquarters</h3>
									<span>California, USA</span>
								</div>
							</div>
						</article>

						<article class="portfolio-item col-12 col-sm-6 col-md-4 pf-graphics pf-illustrations" style="position: absolute; left: 66.6644%; top: 336.484px;">
							<div class="grid-inner">
								<div class="portfolio-image">
									<img src="/ams/assets/images/projects/6.jpg" alt="Space Station">
									<div class="bg-overlay">
										<div class="bg-overlay-content dark animated fadeOut" data-hover-animate="fadeIn" style="animation-duration: 600ms;">
											<a href="#" class="overlay-trigger-icon bg-light text-dark animated zoomOut" data-hover-animate="zoomIn" data-hover-animate-out="zoomOut" data-hover-speed="350" style="animation-duration: 350ms;"><i class="icon-line-ellipsis"></i></a>
										</div>
										<div class="bg-overlay-bg dark animated fadeOut" data-hover-animate="fadeIn" style="animation-duration: 600ms;"></div>
									</div>
								</div>
								<div class="portfolio-desc">
									<h3>Space Station</h3>
									<span>Moscow, Russia</span>
								</div>
							</div>
						</article>

						<article class="portfolio-item col-12 col-sm-6 col-md-4 pf-uielements pf-icons" style="position: absolute; left: 0%; top: 672.968px;">
							<div class="grid-inner">
								<div class="portfolio-image">
									<img src="/ams/assets/images/projects/7.jpg" alt="Bent Architecture">
									<div class="bg-overlay">
										<div class="bg-overlay-content dark not-animated" data-hover-animate="fadeIn" style="animation-duration: 600ms;">
											<a href="#" class="overlay-trigger-icon bg-light text-dark not-animated" data-hover-animate="zoomIn" data-hover-animate-out="zoomOut" data-hover-speed="350" style="animation-duration: 350ms;"><i class="icon-line-ellipsis"></i></a>
										</div>
										<div class="bg-overlay-bg dark not-animated" data-hover-animate="fadeIn" style="animation-duration: 600ms;"></div>
									</div>
								</div>
								<div class="portfolio-desc">
									<h3>Bent Architecture</h3>
									<span>Melbourne, Australia</span>
								</div>
							</div>
						</article>

						<article class="portfolio-item col-12 col-sm-6 col-md-4 pf-graphics" style="position: absolute; left: 33.3322%; top: 672.968px;">
							<div class="grid-inner">
								<div class="portfolio-image">
									<img src="/ams/assets/images/projects/8.jpg" alt="Lakeview Center">
									<div class="bg-overlay">
										<div class="bg-overlay-content dark animated fadeOut" data-hover-animate="fadeIn" style="animation-duration: 600ms;">
											<a href="#" class="overlay-trigger-icon bg-light text-dark animated zoomOut" data-hover-animate="zoomIn" data-hover-animate-out="zoomOut" data-hover-speed="350" style="animation-duration: 350ms;"><i class="icon-line-ellipsis"></i></a>
										</div>
										<div class="bg-overlay-bg dark animated fadeOut" data-hover-animate="fadeIn" style="animation-duration: 600ms;"></div>
									</div>
								</div>
								<div class="portfolio-desc">
									<h3>Lakeview Center</h3>
									<span>Auckland, New Zealand</span>
								</div>
							</div>
						</article>

						<article class="portfolio-item col-12 col-sm-6 col-md-4 pf-uielements pf-media" style="position: absolute; left: 66.6644%; top: 672.968px;">
							<div class="grid-inner">
								<div class="portfolio-image">
									<img src="/ams/assets/images/projects/5.jpg" alt="Corporate Headquarters">
									<div class="bg-overlay">
										<div class="bg-overlay-content dark animated fadeOut" data-hover-animate="fadeIn" style="animation-duration: 600ms;">
											<a href="#" class="overlay-trigger-icon bg-light text-dark animated zoomOut" data-hover-animate="zoomIn" data-hover-animate-out="zoomOut" data-hover-speed="350" style="animation-duration: 350ms;"><i class="icon-line-ellipsis"></i></a>
										</div>
										<div class="bg-overlay-bg dark animated fadeOut" data-hover-animate="fadeIn" style="animation-duration: 600ms;"></div>
									</div>
								</div>
								<div class="portfolio-desc">
									<h3>Corporate Headquarters</h3>
									<span>California, USA</span>
								</div>
							</div>
						</article>

					</div>

				</div>

			</div>
		</section>

{{outlet}}